* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin-top: 30px;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 100%;
	border-radius: 20%;
}

.nav {
	background: black;
	color: grey;
	font-family: arial;
	border-radius: 5px;
}

.band.footer {
	background: black;
}

/*########################################################################*/
/*HEADER STYLES*/
/*########################################################################*/

h1 {
	color: white;
	background-color: #d61b1b;
	border-radius: 5px;
}

button{
	border: 2px solid grey;
}

/*########################################################################*/
/* NAVIGATION STYLES*/
/*########################################################################*/

.nav ul,
.nav ul li,
.nav ul ul,
.nav ul ul li {				
	margin: 0px;
}

.nav li {					
	display: inline;
	position: relative;	
}

.nav a {	
	margin-left: 40px;			
	display: inline;
	text-transform: uppercase;
	text-decoration: none;
	color: white; 
	font-weight: 700;
	line-height: 50px;
	padding: 15px 10px;
}

.nav a:hover {	
	background: black;
	cursor: pointer;
	color: grey; 
}

/*########################################################################*/
/*MAIN-BODY STYLES*/
/*########################################################################*/

body {
	background-size: 100%;
}

.backdots {
	position: fixed;
	background-repeat: repeat-y;
}

h2 {
	text-align: center;
}

p {
	text-align: center;	
}

.featuretile {
	background-color: #E8E8E8;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5%;
}

#homeimage {
	height: 350px;
	width: auto;
}

#OtherPub {
	padding-top: 5%;
	text-align: left;
}

#PullListIssues {
	width: 100%;
}

#Details {
	text-align: center;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#CustDets {
	text-align: center;
}

.reset{
	margin-left: 0px;
}

#video-container {
	position:relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

/*########################################################################*/
/*FOOTER STYLES*/
/*########################################################################*/

.footer {
	color: gray;
	height: 110px;
	width: 100%;
}

#bottomnav {
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

#bottomnav li a {
	color: white;
}

#bottomnav{
	background-color: black;
	border-radius: 5px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}
		#videoframe {
			width: 560px; 
			height: 315px;
		}

		.imageframe {
			width: 75%;
			height: auto;
		}

		h1 {
			width: 90%;
		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#videoframe {
			width: 280px;
			height: 200px;
		}

		.mapframe{
			width: 80%;
		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		.logo {
			width: 20%;
			border-radius: 20%;

		}

		h1 {
			width: 92%;
			height: auto;
		}

		#videoframe {
			width: 250px; 
			height: 150px;
		}

		.imageframe {
			align-content: center;
			width: 50%;
			height: auto;
		}

		#homeimage {
			width: 50%;
			height: auto;
		}
		
		.mapframe {
			width: 70%;
			height: auto;
		}	

		.nav {
			width: 50%;
		}
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}